body
{
	margin:0;
	padding: 50px 0 0 0;
	background-color: #DCDCDC;

}

.link
{
	color: black;
	text-decoration: none;
}

.wrapper
{
	display: flex;
	justify-content: center;
}

.wrap
{
	display: block;
	margin: 5px;
	padding: 35px;
	width: 500px;
	border: 1px solid #FFF;
	box-shadow: 1px 0px 39px -12px #757575;
	font-family: Arial;
	background-color: #FFF;
}

.sidebar
{
	display: block;
	margin: 5px;
	padding: 10px;
	width: 150px;
	border: 1px solid #FFF;
	box-shadow: 1px 0px 39px -12px #757575;
	font-family: Arial;

	background-color: #FFF;
}
