.item
{
    font-size: 14px;
    line-height: 16px;

    display: flex;

    width: 100%;
    padding: 5px;

    color: #000;
    border: 1px solid #ccc;
    border-radius: 41px;

    align-items: center;
}

.done
{
    text-decoration: line-through;

    color: #757575;
}

.clicked
{
    border: 1px solid #356EFF;
}


.delete
{
    margin-left: auto;
}

.deleteicon
{
    width: 16px;
    height: 16px;
}
