.wrap
{
    margin: 0 0 8px 0;
    padding: 6px 12px 6px 12px;
    height: 54px;

    box-sizing: border-box;

    border: 1px solid #ccc;
    border-radius: 10px;
}

.link
{
    font-size: 14px;
	line-height: 16px;

	display: block;
	
	margin: 0 0 8px 0;

    text-decoration: none;

    color: #000;
}

.link:hover
{
	color: #999;
}

.info
{
    font-size: 12px;
    line-height: 14px;

    display: flex;

    color: #999;

    align-items: center;
}

.parameter
{
	display: flex;

	margin: 0 15px 0 0;

	align-items: center;
}

.circle
{
	width: 11px;
	height: 11px;
	margin: 0 10px 0 0;
	
	border-radius: 50%;
}

.html
{
	background-color: #e34c26;
}

.css
{
	background-color: #563d7c;	
}

.js
{
	background-color: #f1e05a;	
}

.icon
{
	width: auto;
	height: 11px;
	margin: 0 10px 0 0;
}
