.wrap
{
    box-sizing: border-box;

    border: 1px solid #ccc;
    border-radius: 10px;
}

.link
{
    text-decoration: none;

    color: #000;
}

.info
{
    font-size: 12px;
    line-height: 14px;

    display: flex;

    color: #999;
}
