.wrap
{
    display: flex;

     position: relative;

    height: 174px;
    width: calc(100% - 26px);
    margin: 0 0 14px 0;
    padding: 12px;

    border: 1px solid #fff;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}

.avatar
{
    display: flex;

    width: auto;
    height: 176px;
    margin: 0 40px  0 0;

    border-radius: 9px;
    overflow: hidden;
}

.title
{
    font-size: 28px;
    font-weight: bold;
}

.bio
{
    font-size: 14px;
    line-height: 115%;

    margin: 0 0 25px 0;

    color: #999;
}

.contacts
{
    font-size: 12px;
    line-height: 115%;

    display: flex;

    margin: 0 0 9px 0;

    color: #999;

    align-items: center;
}

.contactsIcon
{
    width: 16px;
    height: 16px;
    padding: 0 4px  0 0;
}

.link
{
    text-decoration: none;

    color: #999;

    cursor: pointer;
}

.link:hover
{
    text-decoration: underline;
    
    color: #356eff;
}

.socials
{

    display: flex;

    position: absolute;
    bottom: 10px;
    right: 12px;

    width: 56px;

    color: #999;

    align-items: center;
    justify-content: space-between;
}

.socialsIcon
{
    width: 24px;
    height: 24px;
}

